@model CiftciEvi.Models.viewModel.loginModel


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="row" style="padding-top:50px;">
        <div class="col-md-4">

        </div>
        <div class="col-md-4" style="border-style:solid; border-width:1px; border-color: #475846;border-radius: 10px; padding:3%;">

            <h3 style="margin-bottom:30px; text-align:center">Giriş Yap</h3>
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Tel, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sifre, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Giriş Yap" class="btn btn-default" />
                    </div>
                </div>
                <div class="col-md-12">
                    @if (TempData["hata"] != null)
                    {
                        <div class="alert alert-danger" role="alert">  @TempData["hata"].ToString()  </div>

                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>


}

